@media (pointer: coarse) {
	button {
		padding: 1em;
	}

	button.expand {
		padding: 0 2em 0 2em;
	}
}

@media (pointer: fine) {
	button {
		padding: 4px 16px 4px 16px;
	}
	
	button.expand {	
		padding: 0.5em 0 0.5em 0;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--button-background-color: lightgray;
		--button-text-color: black;
		--default-button-background-color: dodgerblue;
		--default-button-text-color: white;
		--button-hover-brightness: 85%;
		--button-active-brightness: 70%;
		--link-color: royalblue;
		--block-color: beige;
		--block-border-color: brown;
		--highlight-color: Mark;
		--timer-color: lightblue;
		--definition-background: azure;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--button-background-color: darkslategray;
		--button-text-color: white;
		--default-button-background-color: deepskyblue;
		--default-button-text-color: black;
		--button-hover-brightness: 115%;
		--button-active-brightness: 130%;
		--link-color: LinkText;
		--block-color: maroon;
		--block-border-color: brown;
		--highlight-color: olive;
		--timer-color: mediumblue;
		--definition-background: midnightblue;
	}
}

html, body {
	height: 100%;
	margin: 0;
	color-scheme: dark light;
}

a, a:visited {
	&:not(:active) {
		color: var(--link-color);
	}
	text-decoration: underline 0.075em;
}

.boggle {
	background-color: Canvas;
	display: flex;
	height: 100%;
	overflow: hidden;
	.main {
		flex: 1;
		display: flex;
		flex-direction: column;
		text-align: center;
		position: relative;
		padding-bottom: 2em;
		> .boardContainer {
			flex: 1;
		}
		> .controls {
			min-height: 10em;
			padding-top: 2em;
		}
	}
	.reveal {
		width: 16em;
		overflow-y: scroll;
	}
	&:not(.showReveal) .reveal {
		display: none;
	}
}

button.expand {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 24pt;
	height: 100%;
	width: 1em;
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}

:root, button, input {
	font-family: "Open Sans", sans-serif;
	font-size: 16pt;
}

button {
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	background-color: var(--button-background-color);
	color: var(--default-button-text-color);
	color: CanvasText;
	&:hover {
		filter: brightness(var(--button-hover-brightness));
	}
	&:active {
		filter: brightness(var(--button-active-brightness));
	}
	&.default {
		background-color: var(--default-button-background-color);
		color: var(--default-button-text-color);
		font-weight: 600;
	}
}

input:not(:placeholder-shown) {
	text-transform: uppercase;
}

.boardContainer {
	position: relative;
	white-space: nowrap;
	container-type: size;
	padding: 15px;
	text-align: center;
}

.board {
	--size: min(100cqh, 100cqw);
	--cell-margin: calc(var(--size) * 0.005);
	--row-size: calc(var(--size) / var(--board-size));
	display: inline-block;
	height: var(--size);
	width: var(--size);
	font-size: 0;
	.cell {
		--cell-size: calc(var(--row-size) - (var(--cell-margin) * 2));
		display: inline-flex;
		box-sizing: border-box;
		flex-direction: column;
		justify-content: center;
		font-family: "Work Sans", sans-serif;
		height: var(--cell-size);
		width: var(--cell-size);
		font-size: calc(var(--cell-size) * 0.65);
		border: calc(min(1px, var(--cell-margin) / 2)) solid var(--block-border-color);
		background-color: var(--block-color);
		color: CanvasText;
		margin: var(--cell-margin);
		border-radius: 5%;
		box-shadow: var(--cell-margin) var(--cell-margin) var(--cell-margin) gray;
		user-select: none;
		-webkit-user-select: none;
		&.selected {
			background-color: var(--highlight-color);
		}
		&:focus {
			outline: 3px solid SelectedItem;
		}
	}
	&.rotated {
		transition: transform 1s ease, box-shadow 1s ease;
		transform: rotate(180deg);
		&:not(.flat) .cell {
			transform: rotate(-180deg);
		}
	}
	&.flat {
		& .cell[data-letter="M"],
		& .cell[data-letter="W"],
		& .cell[data-letter="Z"] {
			text-decoration: underline;
		}
		&.rotated .cell {
			box-shadow: calc(-1 * var(--cell-margin)) calc(-1 * var(--cell-margin)) calc(-1 * var(--cell-margin)) gray;
		}
	}
}

.finished .cell > div {
	animation-name: flash;
	animation-duration: 4s;
}

.timerButton {
	font-size: 24pt;
}

.timer {
	font-size: 16pt;
	color: var(--timer-color);
}

.result:not(:empty) {
	margin-top: 0.5em;
	::before {
		padding-right: 0.5ex;
	}
	&.valid::before {
		content: "\2714\fe0f";
	}
	&:not(.valid)::before {
		content: "\274c";
	}
	> a.wiki {
		margin-left: 1ex;
		> img {
			--scale-factor: 1.5;
			height: calc(var(--scale-factor) * 1cap);
			vertical-align: calc((var(--scale-factor) - 1) / 2 * -1cap);
		}
	}
}

.definition:not(:empty) {
	width: 60%;
	margin-top: 0.5em;
	margin-left: 20%;
	text-align: left;
	border: 1px solid gray;
	background-color: var(--definition-background);
	.see {
		font-style: italic;
	}
	dl {
		margin: 0;
		dt {
			font-size: 0.8em;
			line-height: 100%;
			margin: 0;
			font-weight: normal;
			font-style: italic;
			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}
		dd {
			margin-left: 1em;
		}
	}
}

button.word {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	&:hover {
		text-decoration: underline 0.075em;
	}
}

dialog {
	border: none;
	margin-top: 100px;
	box-shadow: 2px 2px 6px gray;
	border-radius: 16px;
	max-width: 75%;
	max-height: 75%;
	display: flex;
	flex-direction: column;
	> .text {
		flex: 1;
		overflow-y: auto;
		margin-bottom: 1em;
	}
	> .buttons {
		text-align: right;
		> button:not(:first-child) {
			margin-left: 0.5em;
		}
	}
}

.flash {
	position: absolute;
	font-weight: 800;
	color: Canvas;
	-webkit-text-stroke: 5px CanvasText;
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	&.animating {
		animation-name: flash-text;
		animation-duration: calc(var(--duration) * 1.2);
		animation-timing-function: ease-in;
	}
}

@keyframes flash {
	from {
		opacity: 100%;
	}

	10% {
		opacity: 10%;
	}

	to {
		opacity: 100%;
	}
}

@keyframes flash-text {
	from {
		transform: scale(25%);
		opacity: 0%;
	}

	16.7%, 83.3% {
		transform: scale(100%);
		opacity: 100%;
	}

	to {
		transform: scale(90%);
		opacity: 0%;
	}
}