html, body {
	height: 100%;
	margin: 0;
}

a, a:visited {
	color: #06c;
	text-decoration: underline 0.075em;
}

#container {
	display: flex;
	height: 100%;
	#game {
		overflow-y: auto;
		text-align: center;
		flex: 4;
		position: relative;
		padding-bottom: 2em;
	}
	#reveal {
		flex: 1;
		overflow-y: scroll;
	}
}

button.expand {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 24pt;
	height: 100%;
	width: 1em;
	border: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding: 0.5em 0 0.5em 0;
}

#container:not(.showReveal) #reveal {
	display: none;
}

#game, button, input {
	font-family: "Open Sans", sans-serif;
	font-size: 16pt;
}

button {
	background-color: #eee;
	color: black;
	border: none;
	box-shadow: 0px 0px 3px gray;
	border-radius: 8px;
	padding: 4px 16px 4px 16px;
	&:hover {
		background-color: #ddd;
	}
	&.default {
		background-color: #0077ea;
		font-weight: 600;
		color: white;
		&:hover {
			background-color: #0055a4;
		}
	}
}

input:not(:placeholder-shown) {
	text-transform: uppercase;
}

.boardContainer {
	position: relative;
}

.board {
	margin: 15px;
	display: inline-block;
	.cell {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		font-family: "Work Sans", sans-serif;
		font-size: 48pt;
		height: 1.5em;
		width: 1.5em;
		border: 1px solid brown;
		background-color: beige;
		color: black;
		margin: 2px;
		border-radius: 4px;
		box-shadow: 4px 4px 4px gray;
		user-select: none;
		-webkit-user-select: none;
		&.selected {
			background-color: yellow;
		}
		&:focus {
			outline: 3px solid blue;
		}
	}
	&, & .cell {
		transition: transform 1s ease, box-shadow 1s ease;
	}
	&.rotated {
		transform: rotate(180deg);
		&:not(.flat) .cell {
			transform: rotate(-180deg);
		}
	}
	&.flat {
		& .cell[data-letter="M"],
		& .cell[data-letter="W"],
		& .cell[data-letter="Z"] {
			text-decoration: underline;
		}
		&.rotated .cell {
			box-shadow: -4px -4px 4px gray;
		}
	}
}

.finished .cell {
	animation-name: flash;
	animation-duration: 4s;
}

.timerButton {
	margin-top: 2em;
	font-size: 24pt;
}

.timer {
	font-size: 16pt;
	color: lightblue;
}

.result:not(:empty) {
	margin-top: 0.5em;
	::before {
		padding-right: 0.5ex;
	}
	&.valid::before {
		content: "\2714\fe0f";
	}
	&:not(.valid)::before {
		content: "\274c";
	}
	> a.wiki {
		margin-left: 1ex;
		> img {
			--scale-factor: 1.5;
			height: calc(var(--scale-factor) * 1cap);
			vertical-align: calc((var(--scale-factor) - 1) / 2 * -1cap);
		}
	}
}

.definition:not(:empty) {
	width: 60%;
	margin-top: 0.5em;
	margin-left: 20%;
	text-align: left;
	border: 1px solid gray;
	background-color: azure;
	.see {
		font-style: italic;
	}
	dl {
		margin: 0;
		dt {
			font-size: 0.8em;
			line-height: 100%;
			margin: 0;
			font-weight: normal;
			font-style: italic;
			&:not(:first-child) {
				margin-top: 0.5em;
			}
		}
		dd {
			margin-left: 1em;
		}
	}
}

button.word {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	&:hover {
		text-decoration: underline 0.075em;
	}
}

dialog {
	border: none;
	margin-top: 100px;
	box-shadow: 2px 2px 6px gray;
	border-radius: 16px;
	max-width: 75%;
	max-height: 75%;
	display: flex;
	flex-direction: column;
	> .text {
		flex: 1;
		overflow-y: auto;
		margin-bottom: 1em;
	}
	> .buttons {
		text-align: right;
		> button:not(:first-child) {
			margin-left: 0.5em;
		}
	}
}

.flash {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	color: white;
	-webkit-text-stroke: 5px black;
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	animation-name: flash-text;
	animation-duration: calc(var(--duration) * 1.2);
	animation-timing-function: ease-in;
}

@keyframes flash {
	from {
		color: black;
	}

	10% {
		color: rgba(0, 0, 0, 10%);
	}

	to {
		color: black;
	}
}

@keyframes flash-text {
	from {
		transform: scale(25%);
		opacity: 0%;
	}

	16.7%, 83.3% {
		transform: scale(100%);
		opacity: 100%;
	}

	to {
		transform: scale(90%);
		opacity: 0%;
	}
}