html, body {
	height: 100%;
	margin: 0;
}

a, a:visited {
	color: #06c;
}

#container {
	display: flex;
	height: 100%;
}

#game {
	overflow-y: auto;
	text-align: center;
	flex: 4;
	position: relative;
}

.expand {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 24pt;
	height: 100%;
	width: 1em;
	border: none;
}

#reveal {
	flex: 1;
	overflow-y: scroll;
}

#container:not(.showReveal) #reveal {
	display: none;
}

#game, button, input {
	font-family: "Open Sans", sans-serif;
	font-size: 16pt;
}

input:not(:placeholder-shown) {
	text-transform: uppercase;
}

.boardContainer {
	position: relative;
}

.board {
	margin: 15px;
	display: inline-block;
}

.board > div > div {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Work Sans", sans-serif;
	font-size: 48pt;
	height: 1.5em;
	width: 1.5em;
	border: 1px solid brown;
	background-color: beige;
	color: black;
	margin: 2px;
	border-radius: 4px;
	box-shadow: 4px 4px 4px gray;
	user-select: none;
	-webkit-user-select: none;
}

.board > div > div:focus {
	outline: 3px solid blue;
}

.board > div > div.selected {
	background-color: yellow;
}

.board.flat > div > div[data-letter="M"],
.board.flat > div > div[data-letter="W"],
.board.flat > div > div[data-letter="Z"] {
	text-decoration: underline;
}

.board, .board > div > div {
	transition: transform 1s ease;
}

.board.rotated {
	transform: rotate(180deg);
}

.board.rotated:not(.flat) > div > div {
	transform: rotate(-180deg);
}

.board.finished > div > div {
	animation-name: flash;
	animation-duration: 4s;
}

.timerButton {
	margin-top: 2em;
	font-size: 24pt;
}

.timer {
	font-size: 16pt;
	color: lightblue;
}

.result {
	margin-top: 0.5em;
}

.result:not(:empty).valid::before {
	content: "\2714\fe0f  ";
}

.result:not(:empty):not(.valid)::before {
	content: "\274c ";
}

.result > a.wiki {
	margin-left: 1ex;
}

.result > a.wiki > img {
	--scale-factor: 1.5;
	height: calc(var(--scale-factor) * 1cap);
	vertical-align: calc((var(--scale-factor) - 1) / 2 * -1cap);
}

.definition {
	width: 60%;
	margin-top: 0.5em;
	margin-left: 20%;
	text-align: left;
	background-color: azure;
}

.definition:not(:empty) {
	border: 1px solid gray;
}

.definition h1 {
	font-size: 0.8em;
	line-height: 100%;
	margin: 0;
	font-weight: normal;
	font-style: italic;
}

.definition .see {
	font-style: italic;
}

.definition h1:not(:first-child) {
	margin-top: 0.5em;
}

.definition div {
	margin-left: 1em;
}

.word {
	border: none;
	background: none;
	cursor: pointer;
}

.word:hover {
	text-decoration: underline;
}

@keyframes flash {
	from {
		color: black;
	}

	10% {
		color: rgba(0, 0, 0, 10%);
	}

	to {
		color: black;
	}
}

.flash {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	color: white;
	-webkit-text-stroke: 5px black;
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	animation-name: flash-text;
	animation-duration: calc(var(--duration) * 1.2);
	animation-timing-function: ease-in;
}

@keyframes flash-text {
	from {
		transform: scale(25%);
		opacity: 0%;
	}

	16.7%, 83.3% {
		transform: scale(100%);
		opacity: 100%;
	}

	to {
		transform: scale(90%);
		opacity: 0%;
	}
}