html, body {
	height: 100%;
	margin: 0;
}

#container {
	display: flex;
	height: 100%;
}

#game {
	text-align: center;
	flex: 4;
	position: relative;
}

.expand {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1em;
	border: none;
}

#reveal {
	flex: 1;
	overflow-y: scroll;
}

#container:not(.showReveal) #reveal {
	display: none;
}

#game, button, input {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16pt;
}

input:not(:placeholder-shown) {
	text-transform: uppercase;
}

.board {
	margin: 15px;
}

.board > div > div {
	display: inline-block;
	font-size: 48pt;
	height: 1.5em;
	width: 1.5em;
	border: 1px solid brown;
	background-color: beige;
	margin: 2px;
	border-radius: 4px;
	box-shadow: 4px 4px 4px gray;
	user-select: none;
	pointer-events: none;
}

.board > div > div.selected {
	background-color: yellow;
}

.board.hidden > div > div {
	color: transparent;
}

.board, .board > div > div {
	transition: transform 1s ease;
}

.board.rotated {
	transform: rotate(180deg);
}

.board.rotated > div > div {
	transform: rotate(-180deg);
}

#game button, .timer {
	font-size: 24pt;
}

.result {
	margin-top: 0.5em;
}

.result:not(:empty).valid::before {
	content: "\2714\fe0f  ";
}

.result:not(:empty):not(.valid)::before {
	content: "\274c ";
}

.word {
	border: none;
	background: none;
	cursor: pointer;
}

.word:hover {
	text-decoration: underline;
}